<!-- Where the game is played -->
<!-- GAME LOGIC -->
<!doctype html>
<html>
<head>
    <title>Roulette Game</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Place Your Bets</h1>
       <form action="">
            <!-- <label for="">Pick a Color</label>
            <select name="" id="userColor">
              <option value="0">Black</option>
              <option value="1">Red</option>
            </select> -->
            <label for="">Choose Your Bet</label>
            <input type="number" name="" id="playerBet">
            <select name="" id="userNum">
                <option value="0">1</option>
                <option value="1">2</option>
                <option value="2">3</option>
                <option value="3">4</option>
                <option value="4">5</option>
                <option value="5">6</option>
                <option value="6">7</option>
                <option value="7">8</option>
                <option value="8">9</option>
                <option value="9">10</option>
                <option value="10">11</option>
                <option value="11">12</option>
                <option value="12">13</option>
                <option value="13">14</option>
                <option value="14">15</option>
                <option value="15">16</option>
                <option value="16">17</option>
                <option value="17">18</option>
                <option value="18">19</option>
                <option value="29">20</option>
                <option value="20">21</option>
                <option value="21">22</option>
                <option value="22">23</option>
                <option value="23">24</option>
                <option value="24">25</option>
                <option value="25">26</option>
                <option value="26">27</option>
                <option value="27">28</option>
                <option value="28">29</option>
                <option value="39">30</option>
                <option value="30">31</option>
                <option value="31">32</option>
                <option value="32">33</option>
                <option value="33">34</option>
                <option value="34">35</option>
                <option value="35">36</option>
                <option value="36">Black</option>
                <option value="37">Red</option>


            </select>

            <!-- <label for="">Bet Amount</label>
            <select name="betDrop" id="userBetAmount">
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="1000">1000</option>
              <option value="5000">5,000</option>
              <option value="10000">10,000</option>
            </select> -->
            <button type="button" id="betColors">Play Colors</button>
            <button type="button" id="spinRoulette">Play Numbers</button>
            <span>Your Bank: </span>
            <span id="wallet">50000</span>
      </form>


      <span id="displayWinResult"></span>
      <img src="img/roulette.png" alt="">
<!-- <div class="container">

    <div class="jumbotron text-center">
        <h1>Let's Play Roulette</h1>
        <img src="img/savage21.jpg" alt="21 Savage Profile Photo">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>
    <a href="/game"><button>Go to Game!</button></a>
</div> -->
<!-- <a href="/"><button>Go to Game!</button></a> -->
<script src="main.js"></script>
</body>
</html>
