body{
  padding-top:80px;
  word-wrap:break-word;
  background-color:green;
  color:white;
}
h1{
  text-align: center;
}
form{
  margin-left:25%;
}
form span:last-of-type{
  font-size: 30px;
}
img{
  /* height: 200px; */
  width:100%;
}
